/* Global styles */
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: #FF4040;
}
.nav a {
  color: #39E639;
}
.nav > li > a:hover {
  color: #FFFFFF;
  background-color: #39E639;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail {
  text-align:center;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron .lead {
  font-size: 15px;
  text-align: left;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Food Safety content */
.sqf {
  margin-top: 30px;
}
