/* Global styles */
body {
  padding-bottom: 40px;
  /* background: url(img/gray_jean.png) repeat 0 0; */
  /* background: url('img/extra_clean_paper.png') repeat 0 0; */
}
h1 {
  font: 400 28px/1.3 'Bevan', Georgia, serif;
}
p {
  font: 400 16px/1.6 'Pontano Sans', Verdana, Helvetica, sans-serif;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: #b70004;
}
a {
  color: #469B22;
}
.nav > li > a:hover {
  color: #FFFFFF;
  background-color: #469B22;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail {
  text-align:center;
}
.center {
  text-align:center;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding-top: 20px;
  margin: 40px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron .lead {
  padding-top: 15px;
  font-size: 15px;
  text-align: left;
}
.jumbotron .btn i { 
    margin-right: 8px;  
}
.jumbotron img {
  margin-bottom: 40px;
}

/* Supporting marketing content */
.marketing {
  margin: 30px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Food Safety content */
.food-safety .logo {
  margin-top: 60px;
  text-align: center;
}

/* Contact content */
.contact .map {
  max-width: 350px;
}
