/* Global styles */
body {
  padding-bottom: 40px;
  background: url(../img/cream_dust_transparent.png) repeat 0 0;
}
h1 {
  font: 400 28px/1.3 'Bevan', Georgia, serif;
}
p {
  font: 400 16px/1.6 'Pontano Sans', Verdana, Helvetica, sans-serif;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: #b70004;
}
a {
  color: #469B22;
}
.nav > li > a:hover {
  color: #FFFFFF;
  background-color: #469B22;
}
hr {
  border-color: #8FCD75;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail {
  text-align:center;
}
.center {
  text-align:center;
}
#footer {
  padding-bottom: 20px;
}
#footer .company {
  min-height: 14px;
}
#footer .copyright p {
  margin-top: 30px;
  font-size: 10px;
}
#footer .phone {
  padding-top: 25px;  
}
#footer .btn i { 
    margin-right: 8px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  /* background: url(../img/cream_dust_transparent.png) repeat 0 0; */
  padding: 0 50px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding-top: 20px;
  margin-top: 40px;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  margin-bottom: 10px;
}
.jumbotron .lead {
  font-size: 15px;
  text-align: left;
  margin: 20px 0 20px 0;
}
.jumbotron .btn i { 
    margin-right: 8px;  
}
.jumbotron img {
  margin-bottom: 10px;
}

/* Supporting marketing content */
.marketing {
  margin: 30px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Product content */
.product-table {
  margin-top: 30px;
}
ul.pills li {
  display: inline;
}
ul.pills a {
  color: #469B22;
}
ul.pills li.active a, ul.pills li.active a:hover {
  background: none repeat scroll 0 0 #469B22;
  color: #ffffff;
}
ul.pills a:hover {
  text-decoration: none;
}
ul.pills li a, ul.pills li .noLink {
    margin-right: 3px;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 12px 12px 12px 12px;
    display: inline;
    float: left;
    width: auto;
    line-height: 1;
}
#viewSelector ul.pills a {
    padding: 4px 10px;
    cursor: pointer;
}
#viewSelector label {
    float: left;
    display: block;
    font-size: 13px;
    line-height: 22px;
}

/* Suppliers content */
.suppliers li {
  height: 180px;
  width: 210px;
}

/* Services content */
.services .bluebook {
  margin-top: 60px;
}

.services .redbook {
  margin-top: 30px;
}

.services .text p {
  margin-bottom: 35px;
}

.delivery p {
  margin-bottom: 25px;
}

/* Food Safety content */
.food-safety .logo {
  margin-top: 60px;
  text-align: center;
}

/* About content */
.family-helper img {
  margin-top: 30px;
}

/* Contact content */
.contact .map {
  max-width: 350px;
}

/* =Responsive Design
    Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 650px) {
  #footer .phone { padding-top: 10px;  }
  .suppliers li { height: 240px; }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {  

}

@media screen and (max-width: 240px) {
  
  
}
